body{
    background-image: url(../img/fond.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{
    font-family: 'Russo One', sans-serif;
    
}

.navbar a {
    font-size: 20px;
    text-align:justify;
  }

h3, h2 ,h1{
    font-family: 'Russo One', sans-serif;
    margin-top: 20px;
}

.btn-toolbar{
    
    
    border: 31px solid transparent;
}

.table {
    
    font-family: 'Russo One', sans-serif;
}

.pbody{
    color:black;
}

.btn{
    font-family: 'Russo One', sans-serif;
    margin-bottom: 15px;
    margin-top: 8px;
}

.btn-primary-spacing {
margin-top: 30px;
margin-right: 30px;
margin-bottom: 20px !important;
}

a{
    text-decoration: none;
}