{% extends 'layout.html' %}

{% block body %}
<div class="pt-4">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-md-5">
            <div id="tarjeta_paciente" class="card calendar card-body text-black" style="width: 30rem; height: 25rem;">
                <form action="/agenda/add_turno" method="POST" class="">

                    <h2 class="text-center">Agenda de Turnos</h2>
                    <br>
                    <label for="nombre_apellido">Nombre y Apellido</label>
                    <input type="text" name="nombre_apellido" onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32))" class="form-control" required/>
                    
                    <label for="fecha">Fecha del turno:</label>
                    <input type="date" name="fecha" class="form-control" required/>

                    <label for="hora">Hora del turno:</label>
                    <input type="time-local" name="hora" class="form-control" required/>
                    
                    <label for="observaciones">Observaciones:</label>
                    <input type="text" name="observaciones" class="form-control">

                    <div class="offset-md-4">
                        <button type="submit" class="btn btn-info btn-sm mx-4 my-3">
                            Guardar
                            </button>
                    </div>
                    
                </form>
                
            </div>
            
            <div class="offset-md-2">
                <a href="/patient">
                    <input type="button" value="Registro Paciente Nuevo" class="btn text-light butt btn-lg my-5">
                </a>
            </div>
            <div class="offset-md-4 my-5">
                <a href="/personalized_welcome">
                    <input type="button" value="Volver" class="btn btn-success btn-bg">
                </a>
            </div>
        </div>
        

        <div class="col-md-7">
            <div id="tarjeta_paciente" class="card calendar2 card-body" style="height: 40rem;">
                <h2 class="text-center text-black">Mis turnos</h2>
                
<!-- BUSCADOR -->

                <div class="col-md-10 ">
                    <form action="/agenda" method="POST">
                        <input type="search" id="input-search" name="input-search" placeholder="Buscar aqui" class="form-group" />
                        <button type="submit" class="btn btn-info btn-sm mx-2 my-4">Buscar</button>
                        
                        <input type="button" class="btn btn-info btn-sm mx-2 my-4" id="hoy-checkbox" onClick="setHoy(this)" value="Hoy" />
                        <br>
                        <label class="form-group text-dark" id="search-label">Filtro actual: {{ currentvalue }}</label>
                    </form>
                    <br>
                </div>
                <div class="col-md-2 ">
                    
                </div>
            
                
<!-- FIN BUSCADOR -->

            <div class="form-group form-control text table-responsive container-fluid">
                <table class="table ">
                    <thead>
                        <tr>
                            <td>Nombre y Apellido</td>
                            <td>Día</td>
                            <td>Horario</td>
                            <td>Observaciones</td>
                            <td colspan="2" class="text-center">Operaciones</td>
                        </tr>
                    </thead>
                    <tbody class="pbody">
                    {% for agenda in agenda %}
                        <tr>
                            <td>{{ agenda.1 }}</td>
                            <td>{{ agenda.2 }}</td>
                            <td>{{ agenda.3 }}</td>
                            <td>{{ agenda.4 }}</td>
                            <td>
                                <div class="">
                                    <a href="/agenda/edit_turno/{{agenda.0}}">
                                        <input type="button" class="btn btn-success btn-sm mx-4 " value="Editar">
                                    </a>
                            </td>
                            <td>
                                <a href="/agenda/delete_turno/{{agenda.0}}">
                                    <input type="button" class="btn btn-danger btn-sm mx-4 btn-delete" value="Eliminar">
                                </a>
                                
                            </td>
                        </tr>
                    </div>
                    
    {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div>
    </div> 
</div>
<br>

<script>
    function setHoy(event) {
        var today = new Date();
        var todayQuery = today.getFullYear() + '-' + today.getMonth() + '-' + today.getDate();
        
        document.querySelector('#input-search').value = todayQuery;
        event.form.submit();
        document.getElementById("hoy-checkbox").checked = true;    
    }
</script>

{% endblock %}