{% extends 'layout.html' %}

{% block body %}

<html>

<head>
  <link rel="stylesheet" href="/static/css/wait.css">
</head>
<div class="col-md-5  pt-4 offset-md-4">
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-dismissible fade show" role="alert">
    {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  {% endfor %}
  {% endif %}
  {% endwith %}

  <div class="card card-body text-center">
    <h1>Bienvenido a
      <br>
      <img src="../static/img/terapplogo.png" class="log img-fluid img-responsive" alt="Responsive image">
    </h1>
    <div class="col text-center">
      <a href="/login">
        <input type="button" class="btn btn-primary btn-bg mx-4 " value="Ingresar">
      </a>

      <a href="/professional">
        <input type="button" class="btn btn-primary btn-bg " value="Registrarme">
      </a>
    </div>
  </div>

  <div class="card card-body text-center wait-r">
    <div>
      <h1>Sala de espera</h1>
    </div>
    <section>
      <button id="plusClick">Anotarme</button>
      <button id="minClick">Atendido</button>
      <button id="btnClear">Resetear</button><!-- Solo profesional -->
      <p id="waiting"></p>
    </section>
  </div>
</div>

<script src="/static/js/wait.js"></script>

</html>

{% endblock %}