{% extends 'layout.html' %}

{% block body %}
<head>
<title>Agenda</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.css">
        <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.0/main.min.js"></script>
</head>
<div class="col-md-5 pt-4 offset-md-4">
    <div class="card card-body">
        <h1 class="text-center">Agenda</h1>
        <label for="Día_turno">Día:</label>
        <input type="text" name="Día" placeholder="#" value="año / mes / día" class="#">
        <label for="referencia">Agendar como:</label>
        <input type="text" name="referencia" placeholder="#" value="nombre de referencia" class="#">
        <div class="btn-toolbar offset-md-1 ">
        <div id="calendar"></div>
        <script>
            let calendarEl = document.getElementById
            ('calendar');

            let calendar = new FullCalendar.Calendar
            (calendarEl, {
                events : [
                    {% for event in events %}
                    {
                        title : '{{event.todo}}',
                        start : '{{event.date}}',
                    },
                    {% endfor%}
                ]
            });

            calendar.render();
        </script>
            <button type="submit" class="btn btn-primary btn-bg mx-4">
                Reservar
            </button>
            <button type="submit" class="btn btn-primary btn-bg mx-4">
                Anular
            </button>
                                
            <a href="/personalized_welcome">
                <input type="button" value="Volver" class="btn btn-primary btn-bg mx-4">
            </a>
         </div>
        <h6 class="text-center">TerApp© Todos los derechos reservados.</h6>
    </div>
</div>


{% endblock %}