{% extends 'layout.html' %}
{% block body %}

<div class="col-md-5 pt-4 offset-md-4 ">
  <div id="tarjeta_contacto" class="card card-body">
    
    <form action="/contact/add_message" method="POST">
      <h2 class="text-center">Formulario de contacto</h2>
      <h5 class="text-sm-center">Escríbanos y en breve nos pondremos en contacto</h5>

      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32))" class="form-control" required/>
      
      <label for="email">E-mail:</label>
      <input type="email" name="email" class="form-control" required/>
      
      <label for="telefono">Teléfono:</label>
      <input type="number" pattern="/^-?\d+\.?\d*$/" name="telefono" placeholder="Incluir características" class="form-control " onKeyPress="if(this.value.length==15) return false;" required/>
      
      <label for="asunto">Asunto:</label>
      <input type="text" name="asunto"  class="form-control" required/>

      <label for="mensaje">Mensaje:</label>
      <textarea name="mensaje" class="form-control" required placeholder="Deja aquí tu mensaje..."></textarea>

      <div class="offset-md-3">
        <button type="submit" class="btn btn-primary btn-bg mx-4 my-5">
            Enviar
        </button>
                            
        <a href="/personalized_welcome">
            <input type="button" value="Volver" class="btn btn-primary btn-bg mx-4 my-5 ">
        </a>
      </div>      
    </form>
  </div>
</div>


{% endblock %}