{% extends 'layout.html' %}

{% block body %}
<html>
<div class="col-md-5 pt-4 offset-md-4">
    <div id="tarjeta_edicion" class="card card-body ">
        <form action="/update_turno/{{agenda.0}}" method="POST">

            <h2 class="text-center">Turno Registrado</h2>
            <br>
            <label for="nombre_apellido">Nombre y Apellido</label>
            <input type="text" name="nombre_apellido" onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122 || event.charCode == 32))" placeholder="Nombre y Apellido" value="{{agenda.1}}" class="form-control" required/>
            
            <label for="fecha">Fecha del turno:</label>
            <input type="date" name="fecha" value="{{agenda.2}}"class="form-control" required/>

            <label for="hora">Hora del turno:</label>
            <input type="time-local" name="hora" value="{{agenda.3}}" class="form-control" required/>
            
            <label for="observaciones">Observaciones:</label>
            <input type="text" name="observaciones" value="{{agenda.4}}" class="form-control">

            <div class="offset-md-3">
                <button type="submit" class="btn btn-primary btn-bg mx-4 my-5">
                    Guardar
                 </button>
                                    
                <a href="/agenda">
                    <input type="button" value="Volver" class="btn btn-primary btn-bg mx-4 my-5 ">
                </a>
             </div>    
            
        </form>
    </div>   
</div>

</html>
{% endblock %}