{% extends 'layout.html' %}

{% block body %}

<div class="col-md-5 pt-4 offset-md-4 ">
        <div id="tarjeta_profesional" class="card card-body ">          
            <form action="/update_professional/{{professional.0}}" method="POST">
                
                <h2 class="text-center">MI PERFIL PROFESIONAL</h2>
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" value="{{ professional.1}}" class="form-control" required>
                <label for="apellido">Apellido:</label>
                <input type="text" name="apellido" value="{{ professional.2}}" class="form-control" required>
                <label for="dni">DNI:</label>
                <input type="number" pattern="/^-?\d+\.?\d*$/" name="dni" value="{{ professional.3}}" placeholder="Sin puntos ni comas" class="form-control " onKeyPress="if(this.value.length==8) return false;" required>
                <label for="telefono">Teléfono:</label>
                <input type="number" pattern="/^-?\d+\.?\d*$/" name="telefono" value="{{ professional.4}}" placeholder="Incluir características" class="form-control " onKeyPress="if(this.value.length==15) return false;" required>
                <label for="direccion">Dirección:</label>
                <input type="text" name="direccion" value="{{ professional.5}}" class="form-control" >
                <label for="email">E-mail:</label>
                <input type="text" name="email" value="{{ professional.6}}" class="form-control" required>
                <label for="titulo">Título:</label>
                <input type="text" name="titulo" value="{{ professional.7}}" class="form-control"required>
                
                <label for="es_prestador">Prestador de cobertura médica:</label><br>
                <div class="radio_button">
                <input type="radio" name="es_prestador" value="Si">Si<br>
                <input type="radio" name="es_prestador" value="No">No<br>       
                </div>

                <label for="obra_social">Indique la obra social:</label>
                <select name="obra_social" value="{{ professional.9}}" class="form-control" required>
                    <option>Seleccione obra social...</option>
                    <option>Galeno</option>
                    <option>Swiss Medical</option>
                    <option>Sancor Salud</option>
                    <option>Osecac</option>
                    <option>Medicus</option>
                    <option>Osde</option>
                </select>
                
                <label for="institucion_educativa">Institución educativa que emite el título:</label>
                <input type="text" name="institucion_educativa" value="{{ professional.10}}" class="form-control ">
               
                <div class="radio_button">
                <label for="esta_matriculado">Matrícula:</label><br>
                <input type="radio" name="esta_matriculado" value="Si">Si<br>
                <input type="radio" name="esta_matriculado" value="No">No<br>
                </div>
               
                <label for="matricula">Indique su matrícula:</label>
                <input type="number" pattern="/^-?\d+\.?\d*$/" name="matricula" value="{{ professional.12}}" class="form-control " onKeyPress="if(this.value.length==10) return false;">
                <label for="contraseña">Ingrese su contraseña:</label>
                <input type="password" name="contraseña" value="{{ professional.13}}" class="form-control ">
                <label for="repetir_contraseña">Repetir contraseña:</label>
                <input type="password" name="repetir_contraseña" value="{{ professional.14}}" class="form-control ">
                <div class="offset-md-3">
                    <button type="submit" class="btn btn-primary btn-bg mx-4 my-5">
                       Guardar
                    </button>
                                        
                    <a href="/personalized_welcome">
                        <input type="button" value="Volver" class="btn btn-primary btn-bg mx-4 my-5 ">
                    </a>
                 </div>      
            </form>
        </div>
</div>
{% endblock %}
