{% extends 'layout.html' %}

{% block body %}
<html>
<div class="col-md-5 pt-4 offset-md-4">
    <div id="tarjeta_edicion" class="card card-body ">
        <form action="/update/{{patient.0}}" method="POST">
            <h2 class="text-center">Ficha</h2>
            <br>
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" value="{{ patient.1}}" class="form-control" required>
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" value="{{ patient.2}}" class="form-control" required>
            <label for="edad">Edad:</label>
            <input type="number" pattern="/^-?\d+\.?\d*$/" name="edad" value="{{ patient.3}}" class="form-control" onKeyPress="if(this.value.length==2) return false;">
            <label for="tutor">Tutor:</label>
            <input type="text" name="tutor" placeholder="Nombre completo" value="{{ patient.4}}" class="form-control">
            <label for="obra_social">Obra Social:</label>
            <select name="obra_social" value="{{ patient.5}}" class="form-control">
                <option disabled=""> Seleccione una opción...</option>
                <option>No aplica</option>
                <option>Galeno</option>
                <option>Swiss Medical</option>
                <option>Sancor Salud</option>
                <option>Osecac</option>
                <option>Medicus</option>
                <option>Osde</option>
            </select>
            <label for="n_afiliado">N° Afiliado:</label>
            <input type="number" pattern="/^-?\d+\.?\d*$/" name="n_afiliado" value="{{ patient.6}}" class="form-control" onKeyPress="if(this.value.length==16) return false;" required>
            <label for="dni">DNI:</label>
            <input type="number" pattern="/^-?\d+\.?\d*$/" name="dni" placeholder="Sin puntos" value="{{ patient.7}}" class="form-control"  onKeyPress="if(this.value.length==8) return false;" required>
            <label for="email">Email:</label>
            <input type="text" name="email" value="{{ patient.8}}" class="form-control">
            <label for="telefono">Teléfono principal:</label>
            <input type="number" pattern="/^-?\d+\.?\d*$/" name="telefono" placeholder="Incluir característica" value="{{ patient.9}}" class="form-control" onKeyPress="if(this.value.length==15) return false;" required>
            <label for="domicilio">Domicilio / Barrio / Localidad:</label>
            <input type="text" name="domicilio" value="{{ patient.10}}" class="form-control"required>
            <label for="diagnostico">Diagnóstico:</label>
            <input type="text" name="diagnostico" value="{{ patient.11}}" class="form-control">
            <label for="fecha_de_nacimiento">Fecha de Nacimiento:</label>
            <input type="date" name="fecha_de_nacimiento" placeholder="Fecha de Nacimiento" value="{{ patient.12}}" class="form-control" required>
            <label for="fecha_de_ingreso">Fecha de Ingreso:</label>
            <input type="date" name="fecha_de_ingreso" placeholder="Fecha de Ingreso" value="{{ patient.13}}" class="form-control" required>
            <label for="observaciones">Observaciones:</label>
            <input type="text" name="observaciones" placeholder="Observaciones" value="{{ patient.14}}" class="form-control" required>

            <div class="offset-md-3">
                <button type="submit" class="btn btn-primary btn-bg mx-4 my-5">
                    Guardar
                 </button>

                <a href="/patient">
                    <input type="button" value="Volver" class="btn btn-primary btn-bg mx-4 my-5 ">
                </a>
            </div>
        </form>
    </div>   
</div>
</html>
{% endblock %}