{% extends 'layout.html' %}

{% block body %}

<html>
    <div class="col-md-5 pt-4 offset-md-4">

        <form action="/login" method="POST">

            <div class="login card card-body">
              <div class="login-screen">
                <div class="app-title">
                    <h1>Login</h1>
                </div>

              <div class="login-form">
                <div class="control-group">

                    <input type="text" class="login-field form-control" value="" placeholder="Email" name="email">

                    <label class="login-field-icon fui-user" for="login-name"></label>
                </div>
                <div class="control-group">

                    <input type="password" class="login-field form-control" value="" placeholder="Password" name="password">
                    
                    <label class="login-field-icon fui-lock" for="login-pass"></label>
                </div>
                 <input type="submit" value="INGRESAR" class="btn btn-primary btn-large btn-block">
               </div>
              </div>
             </div>

            </form>
        </div>
    </div>
</html>

{% endblock %}