{% extends 'layout.html' %}

{% block body %}

<div class="pt-4 ">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="row">
        <div class="col-md-5">
            <div id="tarjeta_paciente" class="card card-body ">
                <form action="/patient/add_patient" method="POST" class="">

                    <h2 class="text-center">Planilla de registro</h2>
                    <br>
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))" class="form-control" required/>
                    <label for="apellido">Apellido:</label>
                    <input type="text" name="apellido" onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))" class="form-control" required/>
                    <label for="edad">Edad:</label>
                     <input type="number" min="18" max="99" name="edad" class="form-control" required/>
                    <label for="tutor">Tutor:</label>
                    <input type="text" name="tutor" onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))" placeholder="Nombre completo" class="form-control">
                     <label for="obra_social">Obra Social:</label>
                    <input type="text" name="obra_social" class="form-control" onkeypress="return ((event.charCode >= 65 && event.charCode <= 90) || (event.charCode >= 97 && event.charCode <= 122))"  required/>
                    <label for="n_afiliado">Número de afiliado</label>
                    <input type="number" pattern="/^-?\d+\.?\d*$/" name="n_afiliado" class="form-control" onKeyPress="if(this.value.length==16) return false;" required/>
                    <label for="dni">DNI:</label>
                    <input type="number" pattern="/^-?\d+\.?\d*$/" name="dni" placeholder="Sin puntos o comas" class="form-control" onKeyPress="if(this.value.length==8) return false;" required/>
                    <label for="email">Email:</label>
                     <input type="text" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" name="email" class="form-control" required/>
                    <label for="telefono">Télefono principal:</label>
                    <input type="number" pattern="/^-?\d+\.?\d*$/" name="telefono" placeholder="Incluir característica" class="form-control" onKeyPress="if(this.value.length==15) return false;" required/>
                    <label for="domicilio">Domicilio / Barrio / Localidad:</label>
                    <input type="text" name="domicilio" class="form-control">
                    <label for="diagnostico">Diagnóstico:</label>
                    <input type="text" name="diagnostico" class="form-control" required/>
                    <label for="fecha_de_nacimiento">Fecha de Nacimiento:</label>
                    <input type="date" name="fecha_de_nacimiento" placeholder="Fecha de Nacimiento" class="form-control" required/>
                    <label for="fecha_de_ingreso">Fecha de Ingreso:</label>
                    <input type="date" name="fecha_de_ingreso" placeholder="Fecha de Ingreso" class="form-control" required/>
                    <label for="observaciones">Observaciones:</label>
                    <input type="text" name="observaciones" class="form-control">

                    <div class="offset-md-4">
                        <button type="submit" class="btn btn-primary btn-sm mx-4 my-4">
                            Guardar
                            </button>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-7">
            <div id="tarjeta_paciente" class="card card-body  ">
                <h2 class="text-center">Listado de Pacientes</h2>
<!-- BUSCADOR -->

                <div class="col-md-10">
                    <form action="/patient" method="POST">
                        <input type="search" id="input-search" name="input-search" placeholder="Buscar aqui" class="form-group" />
                        <button type="submit" class="btn btn-primary btn-sm mx-2 my-4">Buscar</button>
                        <br>
                        <label class="form-group" id="search-label">Filtro actual: {{ currentvalue }}</label>
                    </form>
                    <br>
                </div>
            

<!-- FIN BUSCADOR -->

            <div class="form-group form-control text table-responsive container-fluid">
                <table class="table ">
                    <thead>
                        <tr>
                            <td>Nombre</td>
                            <td>Apellido</td>
                            <td>Edad</td>
                            <td>Tutor</td>
                            <td>Obra_Social</td>
                            <td>N_Afiliado</td>
                            <td>Dni</td>
                            <td>Email</td>
                            <td>Telefono</td>
                            <td>Domicilio</td>
                            <td>Diagnostico</td>
                            <td>Fecha_De_Nacimiento</td>
                            <td>Fecha_De_Ingreso</td>
                            <td>Observaciones</td>
                            <td colspan="2" class="text-center">Operaciones</td>
                        </tr>
                    </thead>
                    <tbody class="pbody">
                    {% for paciente in paciente %}
                        <tr>
                            <td>{{ paciente.1 }}</td>
                            <td>{{ paciente.2 }}</td>
                            <td>{{ paciente.3 }}</td>
                            <td>{{ paciente.4 }}</td>
                            <td>{{ paciente.5 }}</td>
                            <td>{{ paciente.6 }}</td>
                            <td>{{ paciente.7 }}</td>
                            <td>{{ paciente.8 }}</td>
                            <td>{{ paciente.9 }}</td>
                            <td>{{ paciente.10 }}</td>
                            <td>{{ paciente.11 }}</td>
                            <td>{{ paciente.12 }}</td>
                            <td>{{ paciente.13 }}</td>
                            <td>{{ paciente.14 }}</td>

                            <td>
                                <div class="">
                                    <a href="/patient/edit_patient/{{paciente.0}}">
                                        <input type="button" class="btn btn-success btn-sm mx-4 " value="Editar">
                                    </a>
                            </td>
                            <td>
                                <a href="/patient/delete_patient/{{paciente.0}}">
                                    <input type="button" class="btn btn-danger btn-sm mx-4 btn-delete" value="Eliminar">
                                </a>

                            </td>
                        </tr>
                    </div>
    {% endfor %}
                    </tbody>
                </table>
            </div> 
        </div>
    </div> 
</div>
<br>
<div id="boton_volver">
    <a href="/personalized_welcome">
        <input type="button" value="Volver" class="btn btn-success btn-bg mx-4 col-md-2">
    </a>
</div>
{% endblock %}