{% extends 'layout.html' %}

{% block body %}
<div class="col-md-5 pt-4 offset-md-4">
                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-primary alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                    {% endif %}
                    {% endwith %}
    <div class="card card-body text-center">

        <form action="/personalized_welcome" method="POST">
            <h1>¡UN NUEVO DÍA LABORAL COMIENZA!</h1>
            <br>
            <h3>¿Qué quieres revisar primero?</h3>
            <br>
            <a href="/edit_professional">
                <input type="button" class="btn btn-primary btn-bg mx-4" value="Editar Mi Perfil">
            </a>

            <a href="/patient">
                <input type="button" class="btn btn-primary btn-bg mx-4" value="Pacientes">
            </a>

            <a href="/agenda">
                <input type="button" class="btn btn-primary btn-bg mx-4" value="Agenda">
            </a>
        </form>
        <a href="/beginning">
            <input type="button" class="btn btn-primary-spacing btn-bg mx-4" value="Cerrar Sesión">
        </a>
    </div>
    <br>
</div>
{% endblock %}