{% extends 'layout.html' %}

{% block body %}
<div class="col-md-5 pt-4 offset-md-4">
    <div class="card card-body text-center">

        <form action="/personalized_welcome">
            <h1>¡UN NUEVO DÍA LABORAL COMIENZA!</h1>
            <h3>¿Qué quieres revisar primero?</h3>
            <br>
            <a href="/professional">
                <input type="button" class="btn btn-primary btn-bg mx-4" value="Mi Perfil">
            </a>

            <a href="/patient">
                <input type="button" class="btn btn-primary btn-bg mx-4" value="Pacientes">
            </a>

            <a href="/calendar">
                <input type="button" class="btn btn-primary btn-bg mx-4" value="Agenda">
            </a>


            <a href="/beginning">
                <input type="button" class="btn btn-primary btn-bg mx-4" value="Cerrar Sesión">
            </a>

        </form>
    </div>
</div>
{% endblock %}